<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- mapper 为根元素节点， 一个namespace对应一个dao -->
<mapper namespace="c.c.k.entity.User">
    <resultMap id="BaseResultMap" type="c.c.k.entity.User">
        <result column="id" property="id" />
        <result column="name" property="name" />
    </resultMap>

    <parameterMap id="User" type="c.c.k.entity.User"/>

    <sql id="Base_Column_List">
		id, name
	</sql>

    <select id="getUser" resultMap="BaseResultMap" >
        select
        id, name
        from user
    </select>
</mapper>