<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbO="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://code.alibabatech.com/schema/dubbo
                http://code.alibabatech.com/schema/dubbo/dubbo.xsd"
>

    <dubbo:application name="hellow-world-app"/>

    <dubbo:registry address="multicast://224.5.6.7:1234"></dubbo:registry>

    <dubbo:protocol name="dubbo" port="20880"></dubbo:protocol>

    <!--<dubbo:annotation package="chen.ce.kuan"></dubbo:annotation>-->
</beans>